#Ignore the following files
CardGame/CardGame/Library/
CardGame/CardGame/Library/*
CardGame/Library/PackageCache/com.unity.sysroot.linux-x86_64@0.1.14-preview/data~/payload.tar.7z
CardGame/Library/PackageCache/com.unity.toolchain.win-x86_64-linux-x86_64@0.1.19-preview/data~/payload.tar.7z\
CardGame/Assets/Prefabs/
        CardGame/Assets/Scripts/ChoseSuitButton.cs
        CardGame/Assets/Scripts/ChoseSuitButton.cs.meta
        CardGame/Assets/Scripts/GameActions.cs
        CardGame/Assets/Scripts/GameActions.cs.meta
        CardGame/Assets/Scripts/GiveCardToPlayerButton.cs
        CardGame/Assets/Scripts/GiveCardToPlayerButton.cs.meta
        CardGame/Assets/Sprites/Cards/ClubsTempCard.png
        CardGame/Assets/Sprites/Cards/ClubsTempCard.png.meta
        CardGame/Assets/Sprites/Cards/DiamondsTempCard.png
        CardGame/Assets/Sprites/Cards/DiamondsTempCard.png.meta
        CardGame/Assets/Sprites/Cards/HeartTempCard.png
        CardGame/Assets/Sprites/Cards/HeartTempCard.png.meta
        CardGame/Assets/Sprites/Cards/SpadesTempCard.png
        CardGame/Assets/Sprites/Cards/SpadesTempCard.png.meta
        CardGame/Library/
        CardGame/Logs/AssetImportWorker0.log
        CardGame/Logs/shadercompiler-AssetImportWorker0.log
        CardGame/Library/APIUpdater/project-dependencies.graph
        CardGame/Library/AnnotationManager
        CardGame/Library/ArtifactDB
        CardGame/Library/ArtifactDB-lock
        CardGame/Library/Artifacts/00/002bbce876c2c987f7ff8dd65466b5ec
        CardGame/Library/Artifacts/00/00442a56f68969a52d3f955d7475bdd1
        CardGame/Library/Artifacts/00/0056c6674456ae46c8e7a232ef7f54e1
        CardGame/Library/Artifacts/00/00af7eec031a550d174a36508e0ca95f
        CardGame/Library/Artifacts/00/00fb138b5bdb8b1e4796d71676e4a179
        CardGame/Library/Artifacts/01/010d64656703c2685f621ff6457a9063
        CardGame/Library/Artifacts/01/0116fa93ca1128c0cd606935ad11e417
        CardGame/Library/Artifacts/01/01236eac7432a2ca461d4516f84dacbc
        CardGame/Library/Artifacts/01/014b3ec76872bff950c2dfd1b88fceda
        CardGame/Library/Artifacts/01/016d39a43cb272aad28f883dbc571cc3
        CardGame/Library/Artifacts/01/017a188ee763483aaa8ad2a4728637f1
        CardGame/Library/Artifacts/01/017cea89aef141d9d254f623cd279d9b
        CardGame/Library/Artifacts/01/0193676e3bbd0a4896a60ff057b4a615
        CardGame/Library/Artifacts/01/01a48367314b489be40599be4e8b7920
        CardGame/Library/Artifacts/01/01ce55f42849a683ddd0333c62965242
        CardGame/Library/Artifacts/01/01ddd817550ec4117f59d3e2abf4826d
        CardGame/Library/Artifacts/02/021460b468ea6b11232379249008a2af
        CardGame/Library/Artifacts/02/0238dcac88409e05303385044e650fb9
        CardGame/Library/Artifacts/02/024cfe63db84a07e6d3613d754451d45
        CardGame/Library/Artifacts/02/0252ce2c7e45ae62792f00a4cdeee46a
        CardGame/Library/Artifacts/02/026b422a1ceed1c12d2fc7635117bccd
        CardGame/Library/Artifacts/02/02b3a398c4505a1d38e0017893917adf
        CardGame/Library/Artifacts/02/02d61e5002e0cf77dba271ef434c7709
        CardGame/Library/Artifacts/03/03471caf939feaef8393938d15d120c7
        CardGame/Library/Artifacts/03/03568675f9f47adb007b7be0b1241b67
        CardGame/Library/Artifacts/03/035e4f5f8b8bc4fa3910a4745e22889f
        CardGame/Library/Artifacts/03/03cbfc3c689a5e77b235bfb50f220293
        CardGame/Library/Artifacts/03/03d21ba76fa48a68b05d3fa059760630
        CardGame/Library/Artifacts/03/03d5a6636949fd4299af1a2101ec3016
        CardGame/Library/Artifacts/03/03f1614264b64e70f7d1803ab6582172
        CardGame/Library/Artifacts/04/0409716b186c4a3dda62402870c7f819
        CardGame/Library/Artifacts/04/0446d8db454142be0d866de24e959be4
        CardGame/Library/Artifacts/04/04b0133ade1421bbc28829e21e2d1cb7
        CardGame/Library/Artifacts/04/04b5ce0ca6ab98adec4dd744030fd9c7
        CardGame/Library/Artifacts/04/04bcd7c44920749f96220facd6a7a068
        CardGame/Library/Artifacts/04/04cfbf725753acdd35e3274300d8b0bb
        CardGame/Library/Artifacts/04/04de79108f9f18128c7b08956a6d8fdd
        CardGame/Library/Artifacts/04/04e97fe3bf2fdf05297f5e4acd900cdc
        CardGame/Library/Artifacts/05/05235663dbea28ab978bd0a4a9079c0c
        CardGame/Library/Artifacts/05/0548a0c191302009029fecc402839084
        CardGame/Library/Artifacts/05/055af3fa7041c0e0bdd308c5136e29b4
        CardGame/Library/Artifacts/05/056246eabeed4ca2d756903d8a589e46
        CardGame/Library/Artifacts/05/0599fe25bfcababd147c3fe9180d13f1
        CardGame/Library/Artifacts/05/05a093d8ff6ffa286694d8cbb774161c
        CardGame/Library/Artifacts/05/05ffabbb98ae69c818a1c192b0aadc6a
        CardGame/Library/Artifacts/06/0627f7bc06f2eefcdb49746fcc020060
        CardGame/Library/Artifacts/06/065717b845867a2424af4c9c5c78febf
        CardGame/Library/Artifacts/06/065f9c3a847e3fe09b6e3a47bfd54920
        CardGame/Library/Artifacts/06/06878cfeeb9a0bb82ae1cdb16d1dea12
        CardGame/Library/Artifacts/06/06db5841e12f485ac525b3e812924f74
        CardGame/Library/Artifacts/06/06e2a8cc3dc039506d626c6227992430
        CardGame/Library/Artifacts/06/06e48f32075d298d2604bb5274272bd6
        CardGame/Library/Artifacts/06/06e633ac81d4eee25851d71e20878692
        CardGame/Library/Artifacts/06/06eaf7faab8b08d529ee5d48d2ae50c7
        CardGame/Library/Artifacts/07/07109617f57a8b9e4fcdfc2dc1a68dcf
        CardGame/Library/Artifacts/07/07162b4ea40829dc9b7fcd11124f1661
        CardGame/Library/Artifacts/07/072bedc8b103eda777e4c25a17d00794
        CardGame/Library/Artifacts/07/072d697abd946c6c4a3ba3b44bc27b61
        CardGame/Library/Artifacts/07/07721e03c80ab2d46d37e841d8f6506a
        CardGame/Library/Artifacts/07/077d260a96be874908111e67df775d9a